
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    width: 100%;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
}
  
img, video, .container, #home, #techstack, #project, #contact {
    max-width: 100%;
    height: auto;
}

  /* Container adjustments */
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  
  /* Header fixes */
  header {
    position: sticky;
    top: 0;
    z-index: 69;
    margin: 0;
    width: 100%;
    background-color: white;
  }

  
  /* Main content area */
  main.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    main.container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }
    
    .min-vh-100 {
      min-height: 100vh;
    }
  }
  

 .border {
    border: red 1px solid;
  } 